DECLARATIVE_HOOK_IMAGE: {{ printf "ghcr.io/netcracker/qubership-dbaas-validation-image:%s" (requiredEnv "AGGREGATOR_TAG") | quote }}
IMAGE_REPOSITORY: ghcr.io/netcracker/qubership-dbaas
TAG: {{ requiredEnv "AGGREGATOR_TAG" | quote }}

POSTGRES_HOST: {{ printf "pg-patroni.%s" (env "PG_NAMESPACE" | default "postgres") | quote }}

M2M_AUTH_MODE: hybrid

REPLICAS: {{ env "AGGREGATOR_REPLICAS" | default "1" }}

BACKUP_DAEMON_DBAAS_ACCESS_PASSWORD: password
DBAAS_CLUSTER_DBA_CREDENTIALS_PASSWORD: password
DBAAS_TENANT_PASSWORD: password
DBAAS_DB_EDITOR_CREDENTIALS_PASSWORD: password
DISCR_TOOL_USER_PASSWORD: password
POSTGRES_DBAAS_USER: postgres
POSTGRES_DBAAS_PASSWORD: password
POSTGRES_DBAAS_DATABASE_NAME: dbaas
