DECLARATIVE_HOOK_IMAGE: {{ printf "ghcr.io/netcracker/qubership-dbaas-validation-image:%s" (requiredEnv "AGGREGATOR_TAG") | quote }}
IMAGE_REPOSITORY: ghcr.io/netcracker/qubership-dbaas
TAG: {{ requiredEnv "AGGREGATOR_TAG" | quote }}

POSTGRES_HOST: {{ printf "pg-patroni.%s" (env "PG_NAMESPACE" | default "postgres") | quote }}

KUBERNETES_M2M_ENABLED: true

REPLICAS: {{ env "AGGREGATOR_REPLICAS" | default "1" }}

BACKUP_DAEMON_DBAAS_ACCESS_PASSWORD: {{ requiredEnv "BACKUP_DAEMON_DBAAS_ACCESS_PASSWORD" | quote }}
DBAAS_CLUSTER_DBA_CREDENTIALS_PASSWORD: {{ requiredEnv "DBAAS_CLUSTER_DBA_CREDENTIALS_PASSWORD" | quote }}
DBAAS_TENANT_PASSWORD: {{ requiredEnv "DBAAS_TENANT_PASSWORD" | quote }}
DBAAS_DB_EDITOR_CREDENTIALS_PASSWORD: {{ requiredEnv "DBAAS_DB_EDITOR_CREDENTIALS_PASSWORD" | quote }}
DISCR_TOOL_USER_PASSWORD: {{ requiredEnv "DISCR_TOOL_USER_PASSWORD" | quote }}
POSTGRES_DBAAS_USER: postgres
POSTGRES_DBAAS_PASSWORD: {{ requiredEnv "POSTGRES_PASSWORD" | quote }}
POSTGRES_DBAAS_DATABASE_NAME: dbaas
DBAAS_BACKUP_RESTORE_CHECK_ATTEMPTS: 20
DBAAS_BACKUP_RESTORE_RETRY_DELAY_SECONDS: 3
DBAAS_BACKUP_RESTORE_RETRY_ATTEMPTS: 3
DBAAS_BACKUP_RESTORE_CHECK_INTERVAL: "1m"
DBAAS_BACKUP_RESTORE_CHECK_LOCK_TIMEOUT: "PT10M"
