# Chart tests restart Patroni, so they are disabled.
postgresPassword: password

patroni:
  affinity:
    podAntiAffinity: {}
  replicas: 1
  storage:
    storageClass: standard
    size: 2Gi

tests:
  install: false
