NODE_SELECTOR_DBAAS_KEY: {{ requiredEnv "NODE_SELECTOR_DBAAS_KEY" | quote }}
REGION_DBAAS: {{ requiredEnv "REGION_DBAAS" | quote }}

IMAGE_REPOSITORY: ghcr.io/netcracker/qubership-dbaas-operator
TAG: {{ requiredEnv "FIXTURE_TAG" | quote }}

NAMESPACE: {{ requiredEnv "DBAAS_NAMESPACE" | quote }}

restrictedEnvironment: false

MONITORING_ENABLED: false
DBAAS_OPERATOR_ENABLED: true
PAAS_PLATFORM: KUBERNETES

LOG_LEVEL: "info"
K8S_EVENTS_ENABLED: true
LEADER_ELECT: true
DBAAS_ROTATION_POLL_INTERVAL: "2s"
DBAAS_EXTERNAL_DATABASE_RESYNC_INTERVAL: "30s"

KUBERNETES_M2M_ENABLED: true
