# Disable fixture integration tests because they restart Patroni during availability checks.
postgresPassword: {{ requiredEnv "POSTGRES_PASSWORD" | quote }}

patroni:
  affinity:
    podAntiAffinity: {}
  replicas: 1
  storage:
    storageClass: standard
    size: 2Gi

tests:
  install: false
