name: DBaaS Integration Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Kind
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: kind

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Apply MinIO operator
        run: |
          kubectl kustomize "github.com/minio/operator?ref=v7.1.1" \
          | kubectl apply -f -

      - name: Wait for MinIO operator
        run: kubectl wait -n minio-operator --for=condition=Available deployment/minio-operator --timeout=300s

      - name: Checkout Netcracker/qubership-core-bootstrap repo
        uses: actions/checkout@v4
        with:
          repository: Netcracker/qubership-core-bootstrap
          path: core-bootstrap-repo

      - name: Deploy DBaaS
        working-directory: core-bootstrap-repo/cloud-core-local-dev/dbaas
        run: make install CONFIG_FILE=local.mk


  
